<!DOCTYPE html>
<html>
<head>
    <title>Games Center A Games Category Flat Bootstarp Resposive Website Template | Games :: w3layouts</title>
    <link href="/template/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/template/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/template/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Games Center Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href="/template/css/datatable-bootstrap.css">
    <!--//fonts-->
    <script src="/template/js/modernizr.custom.js"></script>
    <script src="/template/js/bootstrap.min.js"></script>
    <script src="/template/js/jquery-datatable.js"></script>
    <script src="/template/js/datatable-bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/template/css/component.css" />
</head>

<body>


<%include header.ejs%>

    <ul class="nav nav-tabs">
        <li id="tab-action" class="active"><a data-toggle="tab" href="#"><span style="color: #4cae4c">A</span>ction</a></li>
        <li id="tab-shooting" class="unactive"><a data-toggle="tab" href="#"><span style="color: #4cae4c">S</span>hooting</a></li>
        <li id="tab-race" class="unactive"><a data-toggle="tab" href="#"><span style="color: #4cae4c">R</span>ace</a></li>
        <li id="tab-arcade" class="unactive"><a data-toggle="tab" href="#"><span style="color: #4cae4c">A</span>rcade</a></li>
    </ul>

    <div id="action-pane" data-opened="true" class="wrap"
         style="border: 1px solid green">
        <div class="main">
            <ul id="action-pane-ul" class="og-grid">

                <!--list of li here that contains games infos-->

                <div class="clearfix"> </div>
            </ul>
        </div>
    </div>

    <div id="shooting-pane" data-opened="false" class="wrap" style="border: 1px solid yellow">
        <div class="main">
            <ul id="shooting-pane-ul" class="og-grid">

                <!--list of li here that contains games infos-->

                <div class="clearfix"> </div>
            </ul>
        </div>
    </div>

    <div id="race-pane" data-opened="false" class="wrap" style="border: 1px solid red">
        <div class="main">
            <ul id="race-pane-ul" class="og-grid">

                <!--list of li here that contains games infos-->

                <div class="clearfix"> </div>
            </ul>
        </div>
    </div>



    <div id="arcade-pane" data-opened="false" class="wrap" style="border: 1px solid blue">
        <div class="main">
            <ul id="arcade-pane-ul" class="og-grid">

                <!--list of li here that contains games infos-->

                <div class="clearfix"> </div>
            </ul>
        </div>
    </div>

    </div>
    <script src="/template/js/grid.js"></script>
    <script>
        $(function() {
            Grid.init();
        });
    </script>
</div>

<%include footer.ejs%>


<script src="/javascripts/gamesInjector.js"></script>
</body>

</html>