<!--header-->
<div class="header" >
    <div class="top-header" >
        <div class="container">
            <div class="top-head" >
                <ul class="header-in">
                    <li ><a href="/news" >  News letter</a></li>
                    <li><a href="/contact">   Contact us</a></li>
                    <li ><a href="/howto" >   How to install</a></li>
                </ul>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!---->

    <div class="header-top">
        <div class="container">
            <div class="head-top">
                <div class="logo">

                    <h1><a href="/"><span> P</span>ocket <span>G</span>ames</a></h1>

                </div>
                <div class="top-nav">
                    <span class="menu"><img src="/template/images/menu.png" alt=""> </span>

                    <ul>
                        <li <%if(active === 'index'){%>class="active"<%}%>><a class="color1" href="/"  >Home</a></li>
                        <li <%if(active === 'games'){%>class="active"<%}%>><a class="color2" href="/games"  >Games</a></li>
                        <div class="clearfix"> </div>
                    </ul>

                    <!--script-->
                    <script>
                        $("span.menu").click(function(){
                            $(".top-nav ul").slideToggle(400, function(){
                            });
                        });
                    </script>

                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>