<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115379219-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-115379219-1');
    </script>



    <title>Pocket Games - contact us</title>
    <link rel="icon" href="/images/app/pacman_1_.ico" />
    <link href="/template/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/template/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/template/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Games Center Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--//fonts-->

</head>
<body style="background-color: #EEF1F5">

<%include header.ejs%>


    <div class="container">
        <h2>Install the application</h2>
    </div>


    <div class="blog-left">
        <b>1</b>
        <span>On mobile device</span>
    </div>
    <div class="top-blog">


        <div class="col-md-6 md-in">
            <ul class="grid-part">
                <li><a href="#"><i class="sign"> </i>Please use Chrome browser 49 or upper</a></li>
                <li><a href="#"><i class="sign"> </i>Go to site home page</a></li>
                <li><a href="#"><i class="sign"> </i>Click on the browser menu (generaly on up right)</a></li>
                <li><a href="#"><i class="sign"> </i>Click on "add to home screen"</a></li>
                <li><a href="#"><i class="sign"> </i>That's all, you have now the app on your mobile</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>

    <div class="blog-left">
        <b>2</b>
        <span>On desktop</span>
    </div>
    <div class="top-blog">


        <div class="col-md-6 md-in">
            <ul class="grid-part">
                <li><a href="#"><i class="sign"> </i>Please use Chrome browser 49 or upper</a></li>
                <li><a href="#"><i class="sign"> </i>Go to site home page</a></li>
                <li><a href="#"><i class="sign"> </i>Chrome will propose you to install app if you call the home page at less 2 times with 5 minutes or more between each call</a></li>
                <li><a href="#"><i class="sign"> </i>Accept the banner by clicking on</a></li>
                <li><a href="#"><i class="sign"> </i>That's all, you have now the app on you mobile</a></li>
            </ul>
        </div>
        <div class="clearfix"> </div>
    </div>
    <div class="clearfix"> </div>


    <%include footer.ejs%>

</body>
</html>