<!DOCTYPE html>
<html>
<head>
    <title>Games Center A Games Category Flat Bootstarp Resposive Website Template | Home :: w3layouts</title>
    <link href="/template/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/template/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/template/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Games Center Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="/template/js/modernizr.custom.js"></script>
    <script src="/template/js/bootstrap.min.js"></script>
    <script src="/template/js/jquery-datatable.js"></script>
    <script src="/template/js/datatable-bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/template/css/component.css" />
    <link href="/template/css/thumbnail-gallery.css" rel="stylesheet" type="text/css">
    <link rel="manifest" href="/manifest.json">
</head>

<body>

<%include header.ejs%>

<!--content-->


            <div class="container gallery-container">

                <h1>Fresh games</h1>

                <p class="page-description text-center">the latets games updated on pocket games</p>

                <div class="tz-gallery">

                    <div id="fresh-games-container" class="row">



                </div>

            </div>

        <script src="/template/js/grid.js"></script>
        <script>
            $(function() {
                Grid.init();
            });
        </script>


<%include footer.ejs%>

<script src="/javascripts/newsInjector.js"></script>
<script>
// if ('serviceWorker' in navigator) {
// alert('sw ok');
// navigator.serviceWorker.register('/sw.js').then(function(reg) {
// // registration worked
// console.log('[Registration] succeeded');
// fetch('/games').then(function (value) {  })
// }).catch(function(error) {
// // registration failed
// console.log('[Registration] failed with ' + error);
// });
// }
</script>
</body>

</html>