<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115379219-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-115379219-1');
    </script>

    <!-- TradeDoubler site verification 3025246 -->


    <title>Pocket Games - home</title>
    <link rel="icon" href="/images/app/pacman_1_.ico" />
    <link href="/template/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/template/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="/template/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Weather PWA">
    <link rel="apple-touch-icon" href="/images/app/pacman(4).png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Games Center Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link href='https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
    <!--//fonts-->
    <script src="/template/js/modernizr.custom.js"></script>
    <script src="/template/js/bootstrap.min.js"></script>
    <script src="/template/js/jquery-datatable.js"></script>
    <script src="/template/js/datatable-bootstrap.js"></script>
    <link rel="stylesheet" type="text/css" href="/template/css/component.css" />
    <link href="/template/css/thumbnail-gallery.css" rel="stylesheet" type="text/css">
    <link rel="manifest" href="/manifest.json">

    <meta name="msapplication-TileImage" content="/images/app/pacman(4).png">
    <meta name="msapplication-TileColor" content="#2F3BA2">
</head>

<body>

<%include header.ejs%>

<!--content-->

            <div class="container gallery-container">

                <h1>Fresh games</h1>

                <p class="page-description text-center">the latets games updated on pocket games</p>

                <div class="tz-gallery">

                    <div id="fresh-games-container" class="row"></div>



                </div>

            </div>

        <script src="/template/js/grid.js"></script>
        <script>
            $(function() {
                Grid.init();
            });
        </script>


<%include footer.ejs%>

<script src="/javascripts/newsInjector.js"></script>
<script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/sw.js')
            .then(function(reg) {
                // registration worked
                console.log('[Registration] succeeded');
                fetch('/games', {mode: 'cors'}).then(function (value) {  });
                fetch('/contact', {mode: 'cors'}).then(function (value) {  });
                fetch('/news', {mode: 'cors'}).then(function (value) {  });
                // fetch('/player/offline/offline', {mode: 'cors'}).then(function (value) {  });
            })
            .then(function (value) {
                console.log('**************** \nstart fetching\n *****************')
            })
            .catch(function(error) {
                // registration failed
                console.log('[Registration] failed with ' + error);
            });
    }
</script>
</body>

</html>