<!--header-->
<div class="header" >
    <div class="top-header" >
        <div class="container">
            <div class="top-head" >
                <ul class="header-in">
                    <li ><a href="/template/#" >  Help</a></li>
                    <li><a href="/template/contact.html">   Contact Us</a></li>
                    <li ><a href="/template/#" >   How To Use</a></li>
                </ul>
                <div class="search">
                    <form>
                        <input type="text" value="search about something ?" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'search about something ?';}" >
                        <input type="submit" value="" >
                    </form>
                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!---->

    <div class="header-top">
        <div class="container">
            <div class="head-top">
                <div class="logo">

                    <h1><a href="/template/index.html"><span> G</span>ames <span>C</span>enter</a></h1>

                </div>
                <div class="top-nav">
                    <span class="menu"><img src="/template/images/menu.png" alt=""> </span>

                    <ul>
                        <li <%if(active === 'index'){%>class="active"<%}%>><a class="color1" href="/"  >Home</a></li>
                        <li <%if(active === 'games'){%>class="active"<%}%>><a class="color2" href="/games"  >Games</a></li>
                        <li <%if(active === ''){%>class="active"<%}%>><a class="color3" href="/template/reviews.html"  >Reviews</a></li>
                        <li <%if(active === ''){%>class="active"<%}%>><a class="color4" href="/template/404.html" >News</a></li>
                        <li <%if(active === ''){%>class="active"<%}%>><a class="color5" href="/template/blog.html"  >Blog</a></li>
                        <li <%if(active === ''){%>class="active"<%}%>><a class="color6" href="/template/contact.html" >Contact</a></li>
                        <div class="clearfix"> </div>
                    </ul>

                    <!--script-->
                    <script>
                        $("span.menu").click(function(){
                            $(".top-nav ul").slideToggle(500, function(){
                            });
                        });
                    </script>

                </div>

                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
</div>